body
{
    color: aquamarine;
    background-color: aliceblue;
}
html
{
    background-color: beige;
}
img 
{

    max-width: 50px;
    height: auto;
}

h2
{
    background-image: url(images/dusk\ landscape.png);
    filter: blur(3px);
}
p
{
    background-image: url("https://assets.bonappetit.com/photos/5c62e4a3e81bbf522a9579ce/1:1/w_2240,c_limit/milk-bread.jpg");
}

h1
{
    filter:blur(6px);
}